<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartCafeManager</title>

    <%-include('./template/head') %><!-- head.ejs -->
</head>

<body>
    <%-include('./template/header') %><!-- header.ejs -->

    <main id="main" class="main"><!-- Main -->

        <div class="pagetitle">
            <h1 class="pb-3">분석</h1>
        </div><!-- End Page Title -->
        
        <section class="section">
            <div class="row">
                <!-- 그래프 부분 -->
                <div class="col-lg-6">
            
                    <div class="card">
                    <div class="card-body">
                        <!-- Line Chart -->
                        <h5 class="card-title">최근 일주일간 총 매출</h5>
                        <div id="weekTotalSalesChart"></div>

                        <!-- End Line Chart -->
                    </div>
                    </div>
            
                </div>
            
                <div class="col-lg-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">최근 일주일간 상품 별 판매 비율</h5>
          
                        <!-- Pie Chart -->
                        <div id="SalesRatioChart"></div>
          
                        <!-- End Pie Chart -->
          
                      </div>
                    </div>
                </div>

                <div class="col-lg-4 dashboard">
                    <div class="card top-selling overflow-auto">
  
                        <div class="filter">
                          <a class="icon" href="/products">자세히 보기</a>
                        </div>
        
                        <div class="card-body pb-0">
                          <h5 class="card-title">제품 선택</h5>
      
                          <div style="overflow:scroll; height:430px">
                              <table class="table table-hover">
                              <thead>
                                  <tr>
                                  <th scope="col">이미지</th>
                                  <th scope="col">상품이름</th>
                                  <th scope="col">가격</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <!-- 상품 불러와서 목록 만드는 부분 -->
                                  <% for(let i = 0; i < data.products.length; i++){ %>
                                  <tr onclick=<%="productClick("+i+")" %>>
                                  <th scope="row"><a href="#"><img src="assets/img/product.png" alt=""></a></th>
                                  <td>
                                      <!-- Modal 링크 -->
                                      <a class="text-dark fw-bold" id=<%="productName"+i %>>
                                          <%= data.products[i].p_name %>
                                      </a>
                                  </td>
                                  <td><%= data.products[i].price %> 원</td>
                                  </tr>
                                  <% } %>
      
                              </tbody>
                              </table>
                          </div>
                        </div>
        
                      </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">최근 일주일간 상품 별 판매량</h5>
          
                        <!-- Pie Chart -->
                        <div id="weekProductSalesChart"></div>
          
                        <!-- End Pie Chart -->
          
                      </div>
                    </div>
                </div>
            </div>
        </section>
        
        </main><!-- End #main -->

    <%-include('./template/footer') %><!-- footer.ejs -->

    <input type="hidden" id="weekJsonData" value="<%=JSON.stringify(data.weeklog)%>" />
    <input type="hidden" id="weekSumJsonData" value="<%=JSON.stringify(data.weeksumlog)%>" />
    <script src="js/home/analysis.js"></script>
</body>

</html>