<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartCafeManager</title>

    <%-include('./template/head') %><!-- head.ejs -->
</head>

<body>
    <%-include('./template/header') %><!-- header.ejs -->

    <main id="main" class="main"><!-- Main -->

        <div class="pagetitle">
            <h1 class="pb-3">대시보드</h1>
            
        </div><!-- End Page Title -->
        
        <section class="section">
            <div class="row">
                <!-- 그래프 부분 -->
                <div class="col-lg-12">
            
                    <div class="card">
                    <div class="card-body">
                        <!-- Line Chart -->
                        <h5 class="card-title">최근 일주일 매출</h5>
                        <div id="lineChart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                            new ApexCharts(document.querySelector("#lineChart"), {
                                series: [{
                                name: "아메리카노",
                                data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
                                }, {
                                name: "카페라떼",
                                data: [20, 51, 5, 30, 62, 69, 9, 14, 155]
                                }],
                                chart: {
                                height: 350,
                                type: 'line',
                                zoom: {
                                    enabled: false
                                }
                                },
                                markers: {
                                size: 5
                                },
                                dataLabels: {
                                enabled: false
                                },
                                stroke: {
                                curve: 'straight',
                                width: 4
                                },
                                grid: {
                                row: {
                                    colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                    opacity: 0.5
                                },
                                },
                                xaxis: {
                                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                                }
                            }).render();
                            });
                        </script>
                        <!-- End Line Chart -->
                    </div>
                    </div>
            
                </div>
            
                <!-- 제품 목록 -->
                <div class="col-lg-6 dashboard">
                <div class="card top-selling overflow-auto">
  
                  <div class="filter">
                    <a class="icon" href="/products">더 보기</a>
                  </div>
  
                  <div class="card-body pb-0">
                    <h5 class="card-title">제품 목록</h5>

                    <div style="overflow:scroll; height:430px">
                        <table class="table table-borderless">
                        <thead>
                            <tr>
                            <th scope="col">이미지</th>
                            <th scope="col">상품이름</th>
                            <th scope="col">가격</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 상품 불러와서 목록 만드는 부분 -->
                            <% for(let i = 0; i < data.products.length; i++){ %>
                            <tr>
                            <th scope="row"><a href="#"><img src="assets/img/No-image-available.png" alt=""></a></th>
                            <td>
                                <!-- Modal 링크 -->
                                <a class="text-dark fw-bold">
                                    <%= data.products[i].p_name %>
                                </a>
                            </td>
                            <td><%= data.products[i].price %> 원</td>
                            </tr>
                            <% } %>

                        </tbody>
                        </table>
                    </div>
                  </div>
  
                </div>
                </div><!-- 제품 목록 끝 -->

                <!-- 재료 목록 -->
                <div class="col-lg-6 dashboard">
                    <div class="card top-selling overflow-auto">
    
                    <div class="filter">
                        <a class="icon" href="/ingredient">더 보기</a>
                    </div>
    
                    <div class="card-body pb-0">
                        <h5 class="card-title">재료 목록</h5>
    
                        <div style="overflow:scroll; height:430px">
                            <table class="table table-borderless">
                            <thead>
                                <tr>
                                <th scope="col">이미지</th>
                                <th scope="col">상품이름</th>
                                <th scope="col">남은 재고</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 상품 불러와서 목록 만드는 부분 -->
                                <% for(let i = 0; i < data.material.length; i++){ %>
                                <tr>
                                <th scope="row"><a href="#"><img src="assets/img/No-image-available.png" alt=""></a></th>
                                <td>
                                    <!-- Modal 링크 -->
                                    <a class="text-dark fw-bold" >
                                        <%= data.material[i].m_name %>
                                    </a>
                                </td>
                                <td class="fw-bold"><%= data.material[i].quantity %></td>
                                </tr>
                                <% } %>

                            </tbody>
                            </table>
                        </div>
    
                    </div>
    
                    </div>
                </div><!-- 재료 목록 끝 -->

            </div>
        </section>
        
    </main><!-- End #main -->




    <%-include('./template/footer') %><!-- footer.ejs -->
</body>

</html>