<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartCafeManager</title>

    <%-include('./template/head') %><!-- head.ejs -->
</head>

<body>
    <%-include('./template/header') %><!-- header.ejs -->

    <main id="main" class="main"><!-- Main -->

        <div class="pagetitle">
            <h1 class="pb-3">재료 목록 & 재고 정보</h1>
            
        </div><!-- End Page Title -->
        
        <section class="section dashboard">
            <div class="row">
            
            <!-- 재료 목록 -->
            <div class="col-lg-12">
                <div class="card top-selling overflow-auto">
  
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>설정</h6>
                      </li>
  
                      <li><a class="dropdown-item" href="/ingredient">새로고침</a></li>
                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#AddIngredientModal">재료 추가</a></li>
                    </ul>
                  </div>
  
                  <div class="card-body pb-0">
                    <h5 class="card-title">재료 목록</h5>
  
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">이미지</th>
                          <th scope="col">상품이름</th>
                          <th scope="col">남은 재고</th>
                          <th scope="col">안전 재고</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- 상품 불러와서 목록 만드는 부분 -->
                        <% for(let i = 0; i < data.products.length; i++){ %>
                        <tr>
                          <th scope="row"><a href="#"><img src="assets/img/No-image-available.png" alt=""></a></th>
                          <td>
                            <!-- Modal 링크 -->
                            <a href="#" class="text-primary fw-bold" data-bs-toggle="modal" data-bs-target=<%= "#ExtralargeModal"+i %> >
                                <%= data.ingredient[i].name %>
                            </a>
                          </td>
                          <td class="fw-bold"><%= data.ingredient[i].stock %></td>
                        </tr>
                        <% } %>

                      </tbody>
                    </table>
  
                  </div>
  
                </div>
              </div><!-- 재료 목록 끝 -->
            </div>
        </section>

        <!-- Modal 창 부분 -->
        <!-- Extra Large Modal -->
        <% for(let i = 0; i < data.products.length; i++){ %>
        <div class="modal fade" id= <%="ExtralargeModal"+i %> tabindex="-1">
            <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">재료 상세정보</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body profile">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card profile-card">
                                <div class="card-body pt-4 d-flex flex-column align-items-center">
                                    <img src="assets/img/No-image-available.png" alt="image" class="rounded-circle">
                                    <h5 class="card-title"><%= data.ingredient[i].name %></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                              <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target=<%="#product-info"+i %> >상세정보</button>
                              </li>

                              <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target=<%="#product-change"+i %>>정보수정</button>
                              </li>

                              <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target=<%="#product-settings"+i %>>설정</button>
                              </li>

                            </ul>
                            <div class="tab-content pt-2">
                              <div class="tab-pane profile-overview fade show active" id=<%="product-info"+i %>>
                                  <div>
                                      <h5 class="card-title">재료 설명</h5>
                                      <p class="small fst-italic"><%= data.ingredient[i].description %></p>

                                      <h5 class="card-title">제품 정보</h5>

                                      <div class="row">
                                          <div class="col-lg-3 col-md-4 label ">이름</div>
                                          <div class="col-lg-9 col-md-8"><%= data.ingredient[i].name %></div>
                                      </div>

                                      <div class="row">
                                          <div class="col-lg-3 col-md-4 label">남은 재고</div>
                                          <div class="col-lg-9 col-md-8"><%= data.ingredient[i].stock %></div>
                                      </div>

                                      <div class="row">
                                        <div class="col-lg-3 col-md-4 label">안전 재고</div>
                                        <div class="col-lg-9 col-md-8">10(임시)</div>
                                    </div>

                                  </div>
                              </div>

                              <div class="tab-pane profile-overview fade" id=<%="product-change"+i %>>
                                <div>
                                  <h5 class="card-title">재료 설명</h5>
                                  <textarea class="form-control" style="height: 100px; resize: none"><%= data.ingredient[i].description %></textarea>

                                  <h5 class="card-title">재료 정보</h5>

                                  <div class="row">
                                      <div class="col-lg-3 col-md-4 label ">이름</div>
                                      <div class="col-lg-9 col-md-8">
                                        <input type="text" class="form-control" value="<%= data.ingredient[i].name %>" >
                                      </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">수량 단위(g, kg, ml등)</div>
                                    <div class="col-lg-9 col-md-8">
                                      <input type="text" class="form-control" value="" >
                                    </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-lg-3 col-md-4 label">남은 재고</div>
                                      <div class="col-lg-9 col-md-8"><%= data.ingredient[i].stock %></div>
                                  </div>

                                  <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">안전 재고</div>
                                    <div class="col-lg-9 col-md-8">
                                      <input type="number" class="form-control" value="">
                                    </div>
                                </div>

                                  <div class="text-center">
                                    <button id="save-button" type="button" class="btn btn-primary">Save changes</button>
                                  </div>

                                </div>

                              </div>

                              <div class="tab-pane fade" id=<%="product-settings"+i %>>
                                <div class="pt-3">
                                  <button id="save-button" type="button" class="btn btn-primary">삭제하기</button>
                                </div>
                              </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
            </div>
        </div><!-- End Extra Large Modal-->
        <% } %>

        <!-- 재료 추가 Modal 창 부분-->
        <div class="modal fade" id="AddIngredientModal" tabindex="-1">
          <div class="modal-dialog modal-xl">
          <div class="modal-content">

              <div class="modal-header">
                  <h5 class="modal-title">재료 추가</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body profile">
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="card profile-card">
                              <div class="card-body pt-4 d-flex flex-column align-items-center">
                                  <img src="assets/img/No-image-available.png" alt="image" class="rounded-circle">
                                  <div class="text-center">
                                    <button id="save-button" type="button" class="btn btn-primary">이미지 변경/추가</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-8">
                          <div class="profile-overview">
                            <div>
                              <h5 class="card-title">재료 설명</h5>
                              <textarea class="form-control" style="height: 100px; resize: none"></textarea>

                              <h5 class="card-title">재료 정보</h5  >

                              <div class="row">
                                  <div class="col-lg-3 col-md-4 label ">이름</div>
                                  <div class="col-lg-9 col-md-8">
                                    <input type="text" class="form-control" >
                                  </div>
                              </div>

                              <div class="row">
                                <div class="col-lg-3 col-md-4 label ">수량 단위(g, kg, ml 등)</div>
                                <div class="col-lg-9 col-md-8">
                                  <input type="text" class="form-control" >
                                </div>
                            </div>

                              <div class="text-center">
                                <button id="save-button" type="button" class="btn btn-primary">재료 등록</button>
                              </div>

                            </div>

                          </div>

                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              </div>
          </div>
          </div>
      </div><!-- End Extra Large Modal-->
        
        </main><!-- End #main -->

    <%-include('./template/footer') %><!-- footer.ejs -->
</body>

</html>

