<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartCafeManager</title>

    <%-include('./template/head') %><!-- head.ejs -->
</head>

<body>
    <%-include('./template/header') %><!-- header.ejs -->

    <main id="main" class="main"><!-- Main -->

        <div class="pagetitle">
            <h1 class="pb-3">설정</h1>
        </div><!-- End Page Title -->
        
        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">

                    <div class="card">
                      <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
          
                        <img src="assets/img/profile-img.png" alt="Profile" class="rounded-circle">
                        <h2><%= data.name %></h2>
                        <h3><%= data.info.cafe_name %></h3>
                      </div>
                    </div>
          
                  </div>
        
                  <div class="col-xl-8">

                    <div class="card">
                      <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
          
                          <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">상세 정보</button>
                          </li>
          
                          <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">상세 정보 변경</button>
                          </li>
          
                          <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">설정</button>
                          </li>
          
                        </ul>
                        <div class="tab-content pt-2">
          
                          <div class="tab-pane fade show active profile-overview " id="profile-overview">
          
                            <h5 class="card-title">상세 정보</h5>
          
                            <div class="row">
                              <div class="col-lg-3 col-md-4 label ">사용자 이름</div>
                              <div class="col-lg-9 col-md-8"><%= data.name %></div>
                            </div>
          
                            <div class="row">
                              <div class="col-lg-3 col-md-4 label">카페 이름</div>
                              <div class="col-lg-9 col-md-8"><%= data.info.cafe_name %></div>
                            </div>
          
                            <div class="row">
                              <div class="col-lg-3 col-md-4 label">카페 코드</div>
                              <div class="col-lg-9 col-md-8 fw-bold"><%= data.info.code %></div>
                            </div>
          
                          </div>
          
                          <div class="tab-pane fade profile-edit" id="profile-edit">
          
                            <!-- Profile Edit Form -->
                            <h5 class="card-title">상세 정보 변경</h5>
                            <form>        
                              <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">사용자 이름</label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="fullName" type="text" class="form-control" id="fullName" value="<%= data.name %>">
                                </div>
                              </div>
          
                              <div class="row mb-3">
                                <label for="company" class="col-md-4 col-lg-3 col-form-label">카페 이름</label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="company" type="text" class="form-control" id="company" value="<%= data.info.cafe_name %>">
                                </div>
                              </div>
          
                              <div class="row mb-3">
                                <label for="Job" class="col-md-4 col-lg-3 col-form-label">카페 코드</label>
                                <div class="col-lg-9 col-md-8 fw-bold"><%= data.info.code %></div>  
                              </div>
          
          
                              <div class="text-center">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                              </div>
                            </form><!-- End Profile Edit Form -->
          
                          </div>
          
                          <div class="tab-pane fade" id="profile-settings">
          
                            <div class="tab-pane fade show active profile-overview " id="profile-overview">

                                <h5 class="card-title">설정</h5>
              
                                <div class="row">
                                  <div class="col-lg-3 col-md-4 label ">로그아웃</div>
                                  <div class="col-lg-9 col-md-8"><button type="submit" class="btn btn-primary">로그아웃</button></div>
                                </div>
              
                                <div class="row">
                                  <div class="col-lg-3 col-md-4 label">카페 연결 끊기</div>
                                  <div class="col-lg-9 col-md-8"><button type="submit" class="btn btn-primary" onclick="cafe_disconnect()">카페 연결 끊기</button></div>
                                </div>
              
                              </div>
          
                          </div>
          
                        </div><!-- End Bordered Tabs -->
          
                      </div>
                    </div>
          
                  </div>
            </div>
        </section>
        
        </main><!-- End #main -->

    <%-include('./template/footer') %><!-- footer.ejs -->

    <script src="js/home/cafe_register.js"></script>
</body>

</html>