<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartCafeManager</title>

    <%-include('./template/head') %><!-- head.ejs -->
</head>

<body>
    <%-include('./template/header') %><!-- header.ejs -->

    <main id="main" class="main"><!-- Main -->

        <div class="pagetitle">
            <h1 class="pb-3">재고변경기록</h1>
        </div><!-- End Page Title -->
        
        <section class="section dashboard">
            <div class="row">
                <!-- Top Selling -->
                <div class="col-12">
                    <div class="card top-selling overflow-auto">
    
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>설정</h6>
                        </li>
    
                        <li><a class="dropdown-item" href="#">설정</a></li>
                        </ul>
                    </div>
    
                    <div class="card-body pb-0">
                        <h5 class="card-title">재고변경기록</h5>

                        <div class="col-sm-12 pb-3 d-flex align-items-center">
                            <input type="text" class="form-control" placeholder="재료 검색">
                            <a style="margin-left: -30px; color: #012970;"><i class="bi bi-search"></i></a>
                        </div>
    
                        <table class="table table-hover">
                        <thead>
                            <tr>
                            <th scope="col">날짜</th>
                            <th scope="col">재료 이름</th>
                            <th scope="col">변경 전 재고</th>
                            <th scope="col">변경 후 재고</th>
                            <th scope="col">수량</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=20*(data.page -1); i < Math.min(20*data.page, data.stocklog.length); i++) { %>
                                <% const year = data.stocklog[i].in_date.getFullYear().toString(); %>
                                <% const month = ("0" + (data.stocklog[i].in_date.getMonth()+1)).slice(-2); %>
                                <% const day = ("0" + data.stocklog[i].in_date.getDate()).slice(-2); %>
                                <% const hour = ("0" + data.stocklog[i].in_date.getHours()).slice(-2); %>
                                <% const minute = ("0" + data.stocklog[i].in_date.getMinutes()).slice(-2); %>
                                <% const second = ("0" + data.stocklog[i].in_date.getSeconds()).slice(-2); %>

                                <% const prev_stock = data.stocklog[i].cu_quantity; %>
                                <% const next_stock = data.stocklog[i].po_quantity; %>
                                <% let v_amount = next_stock - prev_stock;%>
                                

                            <tr>
                                <th scope="row"><%= year+"-"+month+"-"+day+"/"+hour+":"+minute+":"+second %></th>
                                <td><a class="text-primary fw-bold"><%= data.stocklog[i].m_name%></a></td>
                                <td><%= prev_stock %></td>
                                <td class="fw-bold"><%=next_stock %></td>
                                <% if (v_amount >= 0) { %>
                                    <td class="fw-bold text-primary">+<%= v_amount %></td>
                                <% } else{ %>
                                    <td class="fw-bold text-danger"><%= v_amount %></td>
                                <% } %>
                            </tr>
                            <% } %>
                            
                        </tbody>
                        </table>
    
                    </div>
    
                    </div>
                </div><!-- End Top Selling -->
            </div>
        </section>
        <div class="container text-center col-sm-12">
            <!-- Basic Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <% for (let i = 0; i < data.stocklog.length / 20; i++) {%>
                    <li class="page-item"><a class="page-link" href=<%= "stockLog?page="+(i+1)%> ><%= i+1%></a></li>
                    <% } %>
                </ul>
            </nav><!-- End Basic Pagination -->
        </div>
        
        </main><!-- End #main -->

    <%-include('./template/footer') %><!-- footer.ejs -->
</body>

</html>


